*{
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  background-color: rgb(24, 25, 24);
  align-items: center;
  justify-content: center;
}

.box-animation{
  --size: 80vh;
  height: var(--size);
  width: var(--size);
   background-color: rgb(35, 35, 33);
   -webkit-box-reflect: below 5% linear-gradient(transparent,rgba(0, 0, 0, 0.44));
   animation: animation_line 1s linear 0.1s  infinite reverse;
   border-radius: 50%;
}

@keyframes animation_line
{
  0%
  {
    background-position: ;
  }
  100%
  {
    background-position: var(--size);
  }
}